<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="baseDirectory" value=""/>
    <add key="encryptedSubDirectory" value=""/>
    <add key="baseUrl" value=""/>
    <add key="notFoundTitle" value=""/>
    <add key="titleXPath" value=""/>
    <add key="imageAnchorXPath" value=""/>
    <add key="urlRegEx" value=""/>
    <add key="salt" value=""/>
  </appSettings>
</configuration>